# OPENSBT

deap==1.4.1
numpy
scipy
matplotlib==3.7.4
pandas==2.0.3
setuptools
scikit-learn==1.3.2
pymoo==0.6.1.5
pytest==8.0.0
psutil==5.9.8

# LLM

langid
torch
bitsandbytes
transformers
datasets
sentence_transformers
openai
ollama
nltk
python-dotenv
seaborn
openpyxl
json-repair
azure-ai-inference>=1.0.0b1
azure-core>=1.29.0
python-dotenv>=1.0.0
testflows.combinatorics
faiss-cpu
pronouncing
wandb
weave

pyclustering